In [155]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math
from sklearn.linear_model import LinearRegression

In [188]:
years = np.linspace(2005, 2018, 14, dtype=int).tolist()
offenses =[]
for y in years:
    n = y -2005
    offenses_path='./offenses_csv/%s.csv'%(y)
    offenses.append(pd.read_csv(offenses_path, thousands=','))
    offenses[n]['Year'] = y

table_off = pd.concat(offenses)
table_off = table_off[table_off['Agency type'] == 'Total']
table_off = table_off.drop(columns=['Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
                                    '1st\r\nquarter', '2nd\r\nquarter', '3rd\r\nquarter', '4th\r\nquarter', 'Agency name', 'Agency type',
                                    'Unnamed: 3', 'Unnamed: 9', 'No. of\r\nquarters\r\nreported'])
table_off = table_off.replace(np.nan,0)
cat_list=['Race', 'Religion', 'Sexual_orientation', 'Ethnicity', 'Disability', 'Gender', 'Gender_identity', 'Race/Ethnicity/Ancestry']
table_off[cat_list] = table_off[cat_list].astype(float)

table_off['Offenses'] = table_off['Religion'] + table_off['Sexual_orientation'] + table_off['Ethnicity'] + table_off['Disability']
+ table_off['Gender'] + table_off['Gender_identity'] + table_off['Race/Ethnicity/Ancestry'] +table_off['Race'] + table_off['Ethnicity']

table_off = table_off.drop(columns=cat_list)

table_off['State'] = table_off['State'].str.capitalize()
table_off['Year'] = table_off['Year'].astype(str)
table_off = table_off.reset_index(drop=True)
table_off

     Year          State  Offenses
0    2006        Alabama       0.0
1    2006         Alaska       2.0
2    2006        Arizona      97.0
3    2006       Arkansas      22.0
4    2006     California     700.0
..    ...            ...       ...
641  2018        Vermont      15.0
642  2018       Virginia      57.0
643  2018     Washington     184.0
644  2018  West virginia      14.0
645  2018      Wisconsin      25.0

[646 rows x 3 columns]

In [189]:
table_pop = pd.read_csv('./pop.csv', thousands=',')
table_pop = pd.melt(table_pop, id_vars=['State'], value_vars=table_pop.columns[1:], var_name='Year', value_name='Population')
table_pop

             State  Year  Population
0          Alabama  2010     4779736
1           Alaska  2010      710231
2          Arizona  2010     6392017
3         Arkansas  2010     2915918
4       California  2010    37253956
..             ...   ...         ...
567     Washington  2020     7693612
568  West Virginia  2020     1784787
569      Wisconsin  2020     5832655
570        Wyoming  2020      582328
571    Puerto Rico  2020     3159343

[572 rows x 3 columns]

In [190]:
table_gdp = pd.read_csv('./gdp.csv', thousands=',')
table_gdp = pd.melt(table_gdp, id_vars=['State'], value_vars=table_gdp.columns[1:], var_name='Year', value_name='GDP')
table_gdp

              State  Year        GDP
0           Alabama  1998   149568.2
1            Alaska  1998    41095.9
2           Arizona  1998   183060.5
3          Arkansas  1998    84570.8
4        California  1998  1468730.8
...             ...   ...        ...
1219       Virginia  2021   505351.0
1220     Washington  2021   575129.0
1221  West Virginia  2021    71343.2
1222      Wisconsin  2021   306467.4
1223        Wyoming  2021    36400.0

[1224 rows x 3 columns]

In [195]:
table = table_pop.merge(table_gdp, on=['State', 'Year'])
table = table.merge(table_off, on=['State', 'Year'])
table

          State  Year  Population        GDP  Offenses
0       Alabama  2010     4779736   184702.4       7.0
1        Alaska  2010      710231    54601.5       4.0
2       Arizona  2010     6392017   260307.1     138.0
3      Arkansas  2010     2915918   105662.0      22.0
4    California  2010    37253956  2036015.0     656.0
..          ...   ...         ...        ...       ...
343        Utah  2018     3155153   164622.1      12.0
344     Vermont  2018      624802    29602.2      15.0
345    Virginia  2018     8510920   477915.2      57.0
346  Washington  2018     7526793   515029.1     184.0
347   Wisconsin  2018     5809319   299062.6      25.0

[348 rows x 5 columns]